extends layout

block content
      .album.py-5.bg-light
        .container
          a(href='/newwine')
            button.btn.btn-md.btn-outline-secondary.m-1(type='button') New Wine
          a(href='/wine/all/' + winetable.number)
            button.btn.btn-md.btn-outline-secondary(type='button') View page as JSON
        .py-2
        .container
            .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
              each wine in winetable.content
                .col
                  .card.shadow-sm
                      //svg.bd-placeholder-img.card-img-top(width='100%' height='225' xmlns='wine.svg' role='img' aria-label='Placeholder: Thumbnail' preserveAspectRatio='xMidYMid slice' focusable='false')
                      img(src='/images/wine.svg' alt='wine' height='200' width='100%')
                      hr
                      .card-body
                        p.card-title
                          | Nom: #{wine.name}
                        p.card-title
                          | Région: #{wine.region}
                        p.card-title
                          | Année: #{wine.year}
                        p.card-title
                          | Pays: #{wine.country}
                        .d-flex.justify-content-between.align-items-center
                          .btn-group
                            a(href='/wine/' + wine.id)
                              button.btn.btn-sm.btn-outline-secondary(type='button') View
                            a(href='/edit/' + wine.id)
                              button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                            a(href='/wine/del/' + wine.id)
                              button.btn.btn-sm.btn-outline-danger(type='button') Delete
                            a(href='/wine/json/' + wine.id)
                              button.btn.btn-sm.btn-outline-secondary(type='button') View as a Json

            - var index = parseFloat(winetable.number)
            - var final = parseFloat(winetable.totalPages) - 1;
            - var indexplus = index + 1
            - var indexmoins = index - 1
            - p1 = 5
            - p2 = 5
            if index < 5
              - p1 = index;
            endif
            if index > winetable.totalPages - 5
                    - p2 = (winetable.totalPages - index);
            endif
            p(style="text-align:center;")
              nav(aria-label='...')
                    ul.pagination
                      if index == 0
                        li.page-item.disabled
                          a.page-link(href='/list/' + index)
                            | Previous
                      else
                        li.page-item
                          a.page-link(href='/list/' + indexmoins)
                            | Previous
                        endif
                      - for (let i = index - p1; i < index + p2; i++) {
                      if i == index
                        li.page-item.active
                          a.page-link(href='/list/' + i) #{i}
                      endif
                      if i != index
                        li.page-item
                          a.page-link(href='/list/' + i) #{i}
                      - }
                      if index == winetable.totalPages - 1
                        li.page-item.disabled
                          a.page-link(href='/list/' + index)
                            | Next
                      else
                        li.page-item
                          a.page-link(href='/list/' + indexplus)
                            | Next
                        endif
                        li.page-item
                          a.page-link(href='/list/' + final)
                            | Last




